* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid rgba(240, 240, 240, 0.5);
}

.header_bar {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #22202E;
}

.header_menu {
    margin-top: 29px;
    margin-bottom: 29px;
}

.header_menu-list {
    display: flex;
    gap: 44px;
}

.header_menu-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    color: #726E8D;
}

.header_nav {
    display: flex;
    gap: 16px;
    margin-top: 30px;
    margin-bottom: 34px;
}

.header_nav-link {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center;
}

.navimg1 {
    background-image: url(../images/search.svg);
}

.navimg2 {
    background-image: url(../images/shopping--cart.svg);
}

.navimg3 {
    background-image: url(../images/user--avatar.svg);
}

.main_logo {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.main_bar {
    display: flex;
    gap: 60px;
}

.pdleft {
    padding-left: 48px;
}

.pdright {
    padding-right: 48px;
}

.main_asidebar {
    display: flex;
}

.main_asidebar-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.main_bar-select {
    border: none;
}

.main_goods-list {
    display: grid;
    grid-template-areas:
    'chair vases vase lamp'
    'chair2 vases2 vase2 lamp2'
    'chair3 vases3 vase3 lamp3';
    row-gap: 48px;
}

.item-chair {
    grid-area: chair;
}

.item-chair2 {
    grid-area: chair2;
}

.item-chair3 {
    grid-area: chair3;
}

.item-vases {
    grid-area: vases;
}

.item-vases2 {
    grid-area: vases2;
}

.item-vases3 {
    grid-area: vases3;
}

.item-vase {
    grid-area: vase;
}

.item-vase2 {
    grid-area: vase2;
}

.item-vase3 {
    grid-area: vase3;
}

.item_lamp {
    grid-area: lamp;
}

.item_lamp2 {
    grid-area: lamp2;
}

.item_lamp3 {
    grid-area: lamp3;
}

.main_goods-item {
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 462px;
}

.main_goods-img {
    width: 305px;
    height: 375px;
    margin-bottom: 25px;
}

.main_goods-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #2A254B;
    margin-bottom: 10px;
}

.main_goods-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2A254B;
}

.primary_btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.button-link {
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 32px;
    background-color: #f9f9f9;
}

.main_signup-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.main_signup-pic {
    background-image: url(../images/join-background.jpg);
    background-size: cover;
    background-position: bottom;
}

.main_signup-text {
    margin-left: 50px;
}

.main_signup-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    color: #2A254B;
    margin-top: 71px;
    margin-bottom: 21px;
}

.main_signup-subtitle_primary
 {
    font-size: 16px;
    font-weight: 400;
     line-height: 24px;
     color: #2A254B;

}

.main_signup-subtitle_secondary {
    font-size: 16px;
    font-weight: 400;
     line-height: 24px;
     color: #2A254B;
     margin-bottom: 245px;
}

.main_signup-btn {
    margin-bottom: 70px;
    margin-left: 22px;
}

.main_signup-btn_link {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #2A254B;
    color: #ffffff;
}

.footer {
    background-color: #2A254B;
    font-family: sans-serif;
}

.footer_info-wrapper {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr 1fr;
    padding-top: 60px;
}

.footer_info-menu {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer_info-categories {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer_info-company {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer_info-content_title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    color: rgba(255, 255, 255, 0.8)
}

.footer_info-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;    
    color: rgba(255, 255, 255, 0.8)
}

.footer_info-pic {
    margin-bottom: 57px;
}

.footer_bar-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgba(78, 77, 147, 0.6);
}

.footer_bar-copyrights {
    padding: 25px 0px;
}

.footer_bar-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
}

.footer_bar-social {
    display: flex;
    gap: 25px;
}

.footer_bar-link {
    padding: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.linkedIn {
    background-image: url(../images/logo--linkedin.svg);
}

.facebook {
    background-image: url(../images/logo--facebook.svg);
}

.instagram {
    background-image: url(../images/logo--instagram.svg);
}

.skype {
    background-image: url(../images/logo--skype.svg);
}

.twitter {
    background-image: url(../images/logo--twitter.svg);
}

.pinterest {
    background-image: url(../images/logo--pinterest.svg);
}